*.sh text eol=lf
*.ts text eol=lf
*.tsx text eol=lf
gradlew text eol=lf
metadata-utils/src/test/resources/filterQuery/* text eol=lf


# Ensure text files have normalized (LF) line endings
* text=auto

# Windows specific line endings
*.bat eol=crlf
*.cmd eol=crlf

# Unix specific line endings
*.sh eol=lf

